<div class="comment">
  {{#each comment}}
    <div class="card post comment-box">
    <div class="card-body post-body">
        <div class="card-text comment-body">
            {{comment_body}}
        </div>
        <div class="comment-author">
             {{username}} {{!--{{format_date date_created}} --}}
        </div>
    </div>
    </div>
  {{/each}}
</div>
