<div class="comments">
  {{!-- {{#each this}} --}}
    <div class="comment">
        <div class="comment_body">
            <p>{{comment_body}}</p>
            <p>lmao lol wtf </p>
        </div>
        <div class="comment-author">
             {{username}} 
        </div>
    </div>
  {{!-- {{/each}} --}}
</div>
