<div class="comments">
  {{#each comments as |comment|}}
    <div class="comment">
        <div class="card">
          <div class="comment-author">
            <p>Commented by:<span class="comment-username">{{comment.user.username}}</span></p>
          </div>
          <div class="comment_body">
            <p>{{comment.comment_body}}</p>
          </div>
        </div>
    </div>
  {{/each}}
</div>