<div class="dashboard">
<div class="dash-header">
<h3>Your tech post</h3>
<a href="/dashboard/create/"><button id="newPost" class="btn create-btn">+ New tech post</button></a>
</div>

    {{#if post.length}}

     {{#each post as |post|}}
     <div class="dashPost">
     {{>postInfo post}}
     <a href="/dashboard/edit{{post.id}}"><button class="btn edit-btn">Edit post</button></a>
     </div>
     {{/each}}

    {{else}}
    <h3>No post</h3>
     {{/if}}

</div>
