<div class="login">
<h3 class="title pb-3">Log In</h3>
<form class="loginForm"> {{!-- action="/auth" ?? --}}
   <div class="form-row">
        <label for="emailLogin" class="form-label">Email</label>
        <input id="emailLogin" type="text" class="form-input form-control"/>
    </div>

    <div class="form-row mb-2">
        <label for="passwordLogin" class="form-label">Password</label>
        <input id="passwordLogin" type="password" class="form-input form-control"/>
    </div>
    <button type="submit" class="btn login-btn">Login</button>
    <button class="btn login-link"><a href="/signup" >Sign up</a></button>

</form>
</div>
<script src="../public/js/login.js"></script>