<div class="login">
<form class="card-body login-form"> {{!-- action="/auth" ?? --}}
   <div class="form-row">
        <h3 class="title pb-3">Log In</h3>
        <label for="email-login" class="form-label">Email</label>
        <input id="email-login" type="text" class="form-input form-control"/>
    </div>

    <div class="form-row mb-2">
        <label for="password-login" class="form-label">Password</label>
        <input id="password-login" type="password" class="form-input form-control"/>
    </div>
    <div>
    <button type="submit" class="btn text-center signup-btn" id="login-btn">Login</button>
    <button class="btn login-link"><a href="/signup" >Sign up</a></button>
</div>
</form>
</div>
<script src="/javascript/login.js"></script>