{{> post-info post}}
{{> comment comment_body}}
{{#if logged_in}}
    <form class="card-body new-comment" id="comment-form">
         <div class="commentBody">
            <textarea id="comment" name="commentBody" class="comment-body"></textarea>
            <button type="submit" class="btn new-comment">submit</button>
        </div>
    </form>
{{/if}}


{{#if logged_in}}
<script src="/javascript/comment.js"></script>
{{/if}}