{{> post-info post}}

    {{#if logged_in}}
        <form class="card-body comment-form" id="comment-form">
                <textarea id="comment" name="comment-body" class="form-input form-control"></textarea>
            <button type="submit" class="btn new-comment">submit</button>
        </form>
    {{/if}}

{{> comment}}
    


{{#if logged_in}}
<script src="/javascript/comment.js"></script>
{{/if}}