{{>postInfo post}}

    {{#if logged_in}}
        <form class="card-body comment-form" id="comment-form">
                <textarea id="comment" name="commentBody" class="form-input form-control" />
            <button type="submit" class="btn comment-btn">submit</button>
        </form>
    {{/if}}

    {{> comment post.comment}}


{{#if logged_in}}
<script src="/public/js/comment.js"></script>
{{/if}}